.user{
    padding: 8px 16px;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}
.user > div:last-child {
    display: flex;
    flex-direction: column;

}
.user > div > span{
    padding: 0 5px;
}
.user > div > span:first-child{
    font-size: medium;
    font-weight: bolder;
}
.user > div > span:last-child{
    font-size: small;
    color: slategrey;
}