.divider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 40px 18px;
}
.divider > .divider-line {
    background-color: #dbdbdb;
    background-color: rgba(var(--b38,219,219,219),1);
    height: 1px;
    flex-grow: 1;
}
.divider > .divider-text {
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
}